*{
    margin:0px;
}

html,body{
    height:100%;
    margin:0px;
    padding:0px;
}

.whole{
    display:flex;
    height:100%;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    overflow:none;
}

.left{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

#i{
height:100%;
}

.dark{
    display:flex;
    flex-direction:column;
    position: absolute;
    top: 83%;
    left: 50%;
    text-align: center;
    width: 100%;
    height: 240px;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.6);
    margin: 0px;
    display: flex;
    justify-content:center;
    font-size:40px;
    align-items:center;
    justify-content:center;
    padding-bottom: 30px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color:aliceblue;
    height : 100%;
}

.right>*{
    padding-left:30px;
}

.main{
    background-color: white;
    box-shadow: 10px 0px 10px #aaaaaa;
    margin: 40px 0px;
}

.parts{
    display:flex;
    flex-direction: column;
    margin:20px 0px;
    margin-right: 30px;
}

form{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

#ca{
    background-color:white;
    border: 2px solid rgb(0, 117, 138);
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 5px;
}

#ca:hover{
    background-color: rgb(0, 117, 138);
    color: white;
}

#log{
    color:rgb(0, 117, 138);
}

#log:hover{
    color:blueviolet;
}

h2 > #header{
    word-wrap:break-word;
    display: flex;
    flex-wrap: wrap;
}

.top{
    margin-right: 100px;
}

input{
    border-style: none;
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    outline: none;
}

#logo{
    height: 100px;
    width: auto;
}

#kawaii{
    margin-bottom: 10px;
}


input:focus{
    border: 1px solid blue;
    box-shadow: 0px 0px 5px #aaaaaa;
}


.error:required{
    border: 1px solid red;
}

.error:valid{
    border: 1px solid #E5E7EB;
}

.error:valid:focus{
    border: 1px solid blue;
}

p{
    margin: 0px;
}